body{
	background-color: #B7B8B6;
	color: #34675C;
}

#header{
	color:white;
}

#rightHeader{
	text-align: right;
	color: black;
}

#menu{
	padding: 10px;
	
}

.menuOption{
	
}

.menuOption:hover, .menuOption:active{
	color: orange;
}

#footer{
	background-color: #38c78d;
}

.centered{
	text-align: center;
	position: relative;	
}
.centered p{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}